<div class="heading">
  <h3>Acme Company Ltd</h3>
</div>
<div class="row buttonsAdd">

  <div class="col s3">
    <a class="waves-effect waves-light btn" (click)="openForm('text')">Text Note
      <i class="material-icons right">add</i>
    </a>
  </div>

  <div class="col s3">
    <a class="waves-effect waves-light btn" (click)="openForm('article')">Article Note
      <i class="material-icons right">add</i>
    </a>
  </div>

  <div class="col s3">
    <a class="waves-effect waves-light btn" (click)="openForm('picture')">Picture Note
      <i class="material-icons right">add</i>
    </a>
  </div>

  <div class="col s3">
    <a class="waves-effect waves-light btn" (click)="openForm('document')">Document Note
      <i class="material-icons right">add</i>
    </a>
  </div>
</div>
<div class="row col s12">
  <div class="select-view">
    <i class="material-icons" [ngClass]="{ 'active': view == 'List'}" (click)="_listStyle('List')">apps</i>
    <i class="material-icons" [ngClass]="{ 'active': view == 'Grid'}" (click)="_listStyle('Grid')">format_align_justify</i>
  </div>
</div>
<div class="z-depth-3">
  <div class="row noteList">
    <div class="col s3" [ngClass]="{ 'active': type == 'text'}" (click)="LoadList('text')">Text Note List</div>
    <div class="col s3" [ngClass]="{ 'active': view == 'article'}" (click)="LoadList('article')">Article Note List</div>
    <div class="col s3" [ngClass]="{ 'active': view == 'picture'}" (click)="LoadList('picture')">Picture Note List</div>
    <div class="col s3" [ngClass]="{ 'active': view == 'document'}" (click)="LoadList('document')">Document Note List</div>
  </div>
  <div class="row renderedList">
    <app-note-list></app-note-list>
  </div>
</div>


<app-input-modal (LoadList)="onListLoad($event)"></app-input-modal>